table, th, td
  border: 1px solid #aaa
  border-collapse: collapse
  padding: 3px 5px
  
table
  width: 95%
  margin: 1em auto
th
  background: #e6f9ff
tr:nth-child(even)
  background: rgba(#6cffd1,.2)
  
@media only scree

